/*记录各个功能模块的单独的CSS,非共性*/

/*数据分析模块独有*/
.resultBox{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	width:100%;  	 
    border-color: #dddfe1 #dddfe1 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    padding: 0 0px 0 0;
}
.resultBox .header{
	height: 60px;
	padding: 10px;
}
.resultBox .header h3{
	width: 85%;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	float: left;

}
.resultBox .header .switch-wrapper{
	float: right;
	width: 20%;
	border-color: #dddfe1 #dddfe1 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    border-radius: 30px;
    text-align: center;
    padding: 5px 2px;
}

.switch-wrapper .easyui-linkbutton{
	 background: none repeat scroll 0 0 #fff;
	 border-radius: 30px;
	 color: #000;
}
.switch-wrapper .easyui-linkbutton:hover{
	background: none repeat scroll 0 0 #3d85cc;
	color: #fff;
}

.switch-wrapper .l-btn-selected{
	background: none repeat scroll 0 0 #3d85cc;
	color: #fff;
}

/*实时数据*/
.main_header .device_status {
	float: left;
	padding: 13px 7px 0 0;
	color: #666666;
	margin-left:10px;
	font-size: 13px;
}
.main_header .device_status .device_status_name{
	display: block;
	float: left;
	margin-right: 10px;
}
.timestamp{
	color: #b2b2b2;
}
.poweroff,.fault, .offline{
	color: #F58983;
}
.poweron, .ok, .online{
	color:#b2b2b2;
}

em.on{
	display: block;
	background-color: #2fb114;
	margin:3px 6px 0 0;
	padding: 6px;
	float: left;
	border-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
em.off{
	display: block;
	background-color: #ee756b;
	margin:3px 6px 0 0;
	padding: 6px;
	float: left;
	border-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
em.online{
	display: block;
	background-color: #2fb114;
	margin:3px 6px 0 0;
	padding: 6px;
	float: left;
	border-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
em.offline{
	display: block;
	background-color: #ee756b;
	margin:3px 6px 0 0;
	padding: 6px;
	float: left;
	border-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
em.fault{

}
em.ok{

}
.main_header .device_status .timestamp{
	float: right;
}
.device_control{
	float: right;
	padding: 5px 3px 10px;
}
.controllist {}
.controllist li {
	float: left;
	padding-left: 10px;
}
.controllist li.btn a {
	display: block;
}
.main_data .main-content{
	padding: 0 15px;
}
.main-content .panel-title{
	color: #666666;
}
.main-content .panel-header {
    border-color: #e1e1e1;
}
#realtime-carousel{
	width: 937px;
	float: left;
}
 .prev{
	background-color: #333333;
    border-radius: 8px;
    color: ghostwhite;
    display: block;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 25px;
    height: 30px;
    line-height: 1;
    text-decoration: none;
    width: 26px;
}
 .next{
	background-color: #333333;
    border-radius: 8px;
    color: ghostwhite;
    display: block;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 25px;
    height: 30px;
    line-height: 1;
    text-decoration: none;
    width: 26px;
}

.main_data  .block_chart_box {
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #e1e1e1;
}
.block_chart_box a.prev {
	position: absolute;
	left: 10px;
	top: 50%;
    margin: -15px 0 0 0;
	text-align: center;
}
.block_chart_box a.next {
	position: absolute;
	right: 10px;
	top: 50%;
    margin: -15px 0 0 0;
	text-align: center;
}

.jcarousel-item{
	width:180px;
	height:180px;
}

/*用户登录*/

form#user-login .description{
    display:none;
}
form#user-login{
    padding: 50px 6px 6px;
}
#edit-actions {
    text-align: center;
}
