.content{
	background:url('../images/com_bg.jpg') no-repeat;
	width:100%;
	height:100%;
}
.content .contentBox{
	position:fixed;
	left:50%;
	top:50%;
	margin-top:-109px;
	margin-left:-348px;
}
.content .contentBox .box01{
	margin-right:160px;
	color:#19b21d;
	font-size:24px;
	font-weight:blod;
	display:inline-block;
	background:url('../images/box01.png') no-repeat;
	height:218px;
	width:268px;
	text-decoration:none;
	text-align:center;
	line-height:218px;
}
.content .contentBox .box02{
	color:#0091ed;
	font-size:24px;
	font-weight:blod;
	display:inline-block;
	background:url('../images/box02.png') no-repeat;
	height:218px;
	width:268px;
	text-decoration:none;
	text-align:center;
	line-height:218px;
}